body {
    padding: 0px;
    margin: 0px;
    font-family: arial;
}
.clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}
.logo > img {
	width: 100px;
	float: left;
}
.logo {
	margin-left: 10px;
	position: absolute;
}
.logo p {
	margin: 0;
	padding: 0;
	float: left;
	font-size: 35px;
	font-weight: bold;
}
.searchBar {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.searchBar > * {
	background: #222222;
	border-color: grey;
	width: 250px;
	height: 30px;
	color: white;
}
.canvas {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	flex: 1 100%;
	background: #222222;
}
.canvas > * {
	flex: 1 1 300px;
	margin: 5px;
}
.canvas img {
	width: 100%;
	border-radius: 5px;
}
.canvas a {
	text-decoration: none;
	color: white;
}
.canvas > div > p {
	position: relative;
	top: -30px;
	margin: 0;
	background: white;
	padding: 10px;
	border-radius: 5px;
	overflow: hidden;
}
.canvas > div > p > *{
	padding-bottom: 10px;
	white-space: pre;
}
.description {
	white-space: normal !important;
}
.canvas a > p {
	position: relative;
	top: -40px;
	margin: 0;
	padding: 5px;
	height: 60px;
	background: black;
	opacity: 0.8;
	border-radius: 5px;
}
@media all and (max-width: 720px) {
	.logo {
		width: 215px;
		margin: auto;
		margin-top: 10px;
		position: static;
	}
}